ul {
    list-style: none;
    display: flex;

    /*overwrite bootstrap ->*/
    margin-bottom: 0;
}

li {
    padding: 0 10px 0 10px;
    cursor: pointer;
    color: darkred;
}

.selectedState {
    color: black;
    font-weight: bold;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}